
body div {
	background: pink;
	font-size: 16px;
	margin:0;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.4
	font-weigth:200;
	/*font-style: italic;*/
}
h1, h2 {
	font-family: 'Poiret',;cursive;
	/*text-shadow: 2px, 2px, 5px, #000000;*/
	text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
	text-align: center;
	}

header,
footer {
	
	margin: 0 auto;
	width:88%;
	max-width:960px;
}